/** Configuração geral da página
**************************************************************************************/

body {

    /** Muda a cor do fundo da página **/
    background-image: url(https://res.cloudinary.com/teepublic/image/private/s--gub9Hl12--/t_Preview/b_rgb:191919,c_limit,f_auto,h_630,q_auto:good:420,w_630/v1585572434/production/designs/8762202_0.jpg);

    /** Fonte **/
    font-family: Candara, Helvetica, sans-serif; 

    /** Margem zerada **/
    margin: 0;
}
