/** Configuração da DIV do Banner com id promocao
**************************************************************************************/

#promocao {

    /** Altura e margem **/
    height: 700px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), #191919);
}


/** Configuração do header principal da promoção com id "promocaoH1" 
**************************************************************************************/

#promocaoH1 {

    /** Cor da fonte **/
    color: rgb(0, 0, 0);

    /** Tamanho de fonte **/
    font-size: 45px;
    
    /** Remove a margem **/
    margin: 0;
    
    /** Posicionando o elemento **/
    margin-left: 8%;
    margin-right: 8%;
    position: absolute;
    text-align: center;

    /** Aplica sombra ao texto **/
    text-shadow: 2px 2px 4px #e50021;
}


/** Configura o header com o preço no banner com id "promocaoValor" 
**************************************************************************************/

#promocaoValor {

    /** Cor da fonte  **/
    color: white;

    /** Tamanho da fonte **/
    font-size: 38px;

    /** Remove a margem  **/
    margin: 0;

    /** Aplica sombra ao texto **/
    text-shadow: 2px 2px 4px #e50021;

    /** Posiciona os elementos **/
    left: 400px;
    top: 130px;
    position: relative;

    /** Largura **/
    width: 500px;
}



