/** Configuração geral da página
**************************************************************************************/

body {

    /** Muda a cor do fundo da página **/
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/8c9d8180-be50-4cd0-b8e4-45ced3e9bd02/d7iydu-92b6363e-9542-456f-b366-348613cd8cea.jpg/v1/fit/w_537,h_537,q_70,strp/drum_wallpaper_by_deathmedic_d7iydu-375w-2x.jpg);

    /** Fonte **/
    font-family: Candara, Helvetica, sans-serif; 

    /** Margem zerada **/
    margin: 0;
}
